:root {
  --dark-green: #142c29;
  --dark-green-border: #162b28;
  --blue-body: #075168;
  --just-white: #ffffff;
  --strong-orange: #fd810f;
}

* {
  margin: 0;
  background-color: var(--blue-body);
}

.header_img_banner {
  position: relative;
  width: 100%;
  z-index: 1;
}

.header_img_tittle {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  margin-top: 90px;
  margin-left: 15px;
  width: 230px;
}

.header_div_search {
  background: var(--strong-orange);
  padding: 2px 10px;
  border-radius: 10px;
  border: 2px solid var(--dark-green-border);
  margin-left: 0px;
  position: absolute;
  z-index: 3;
  margin-top: 160px;
  margin-left: 25px;
}

.header_input_search {
  background: transparent;
  background-image: url("../img/magnifying_glass.svg");
  background-repeat: no-repeat;
  font-family: "Quintessential", "cursive";
  font-size: 20px;
  font-weight: bold;
  padding-left: 28px;
  background-size: 23px;
  margin-top: 2px;
  width: 300px;
  height: 25px;
  border: none;
  outline: none;
}

.main_container_imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px;
}
.main_img_products {
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-bottom: 150px;
}
